<!DOCTYPE html>
<html lang="en">

<head>

     <title>Matkaklubi</title>
     <%- include("../partials/p2is.ejs")%>
 </head>

<body>
    <div class="paisSektsioonuudised">
        <div class="container">
            <div class="row pt-2 ">
                <div class="col-12 col-md-5 d-flex">
                    <img class="paisLogo" src="/assets/klubilogo.png" alt="">
                    <div class="paisNimi">
                        MATKA KLUBI
                    </div>
                
    
        <div class="col-md-12 col-md-7 pais-menyy">
           
            <%- include("../partials/menyy.ejs") %>
        </div>
            </div>
                    
            <div class="container uudisteSektsioon pt-4">
                <h1>Uudised</h1>
                <div class="row">
                            
                        <% for (let i=0; i < uudised.length; i++) { %>
                            <div class="col-md-4 card">
                                <img class="card-img-top" src="<%= uudised [i].pildiUrl %>">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <%= uudised[i].nimetus %></h4>
                                    <p>
                                        <%= uudised[i].kirjeldus %>                        
                                    </p>
                                    
                                    <a href="/uudiseSisu/<%= matkad[i].id %>" class="btn btn-primary">Loe lisaks</a>
                                </div>
                            </div>
                            <% } %>



                    </div>

            </div>
        </div>
</body>

</html>